 .slides {
    width:800px;
    border: 5px;
    border-color: black;    
}
 
.slides img {
	width:90%;
    height: 400px;
}
 
.slidesjs-pagination {
	background-color: whitesmoke;
	list-style:none;
	overflow:hidden;
}
 
.slidesjs-pagination li {
	float:left;
}
 
.slidesjs-pagination li a {
	display:block;
	padding:10px 20px;
	color:#000;
	text-decoration:none;
}
 
.slidesjs-pagination li a:hover {
	background-color: #ffc72c;
}
 
.slides .active {
	background-color: #ffc72c;
}
 
.slidesjs-navigation{
	background-color: #ffc72c;
	color:fff;
	text-decoration:none;
	display:inline-block;
	padding:10px 10px;
	float:right;
}